<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>display page</h1>
<div class="table-responsive " style="background-color: #f0f0f0;">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Category Name</th>
                          <th>Description</th>
                          <th>Image</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in obj1 %}
                       <tr>
                            <td>{{i.Category_Name}}</td>
                           <td>{{i.Category_Description}}</td>
                           <td>
                             <img src="{{i.Category_Image.url}}" width="70px" height="70px">
                           </td>

                           <td>
                               <a href="{% url 'editcategorypagefun' erow_id=i.id %}">
                               <button>Edit</button>
                               </a>
                           </td>
                            <td>
                                <a href="{% url 'delete_CategoryDB' del_id=i.id %}">
                               <button>Delete</button>
                                </a>
                           </td>
                       </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'success' %}
            <script>
                swal('{{i}}','work aayi','success');
            </script>
        {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error');
            </script>
        {% elif i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning');
            </script>
        {% else %}
            <script>
                swal('{{i}}','','info');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>